<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>友情链接</h3>
                        <ul class="alt">
                            <li><a href="./302.html?target=https://tggsearch.github.io">海外软件综合教程网</a></li>
                            <li><a href="./302.html?target=https://musckcoins.github.io">币圈教程英文网</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>其他链接</h3>
                        <ul class="alt">
                            <li><a href="./302.html?target=https://t.me/OKXGroup_CN">电报中文官方群</a></li>
                            <li><a href="#">客服互动</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>关于欧易平台</h2>
                <p>欧易平台是国际领先的数字资产交易平台，提供比特币、以太坊等多种数字资产的交易服务。</p>
                <ul class="icons">
                    <li><a href="./302.html?target=https://x.com/okx" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="./302.html?target=https://www.facebook.com/okxofficial/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="./302.html?target=https://www.instagram.com/okx_official/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="./302.html?target=https://www.linkedin.com/company/okxofficial" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="./302.html?target=https://www.pinterest.com/okx_official/" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="#">欧易中文网</a></li>
        </ul>
    </div>
</footer>
