<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>欧易中文注册下载教程</h2>
                <p>现在注册就可以领取多达 888 元奖励<a href="http://templated.co">快来注册吧</a></p>
                <ul class="actions">
                    <li><a href="./302.html?target=https://www.ouhorium.com/join/CNOFF" class="button big special">注册欧易</a></li>
                    <li><a href="./right-sidebar.html" class="button big alt">下载教程</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
